{
    "presets": [
        ["babel-preset-env", {
            "targets": {
                "node": "8.11.3"
            }
        }]
    ],
    "plugins": [
      "dynamic-import-node",
      "transform-flow-comments",
      "transform-runtime",
      "transform-decorators-legacy"
    ]
}
